.container {
    padding: 20px;
    max-width: 950px;
    margin: 0 auto;
    color: black;
  }
  
  .header {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .error {
    color: red;
    text-align: center;
    font-weight: bold;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .listItem {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .listItem:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  .listItem span {
    font-weight: bold;
  }

  .deleteButton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  